 {{!-- <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./math.JPG" class="d-block w-100" alt="alt text" />
        </div>
        <div class="carousel-item">
          <img src="./pug.JPG" class="d-block w-100" alt="next text" />
        </div>
        <div class="carousel-item">
          <img src="image.jpg" class="d-block w-100" alt="text" />
        </div>
      </div> --}}
      {{!-- EDIT THIS --}}